
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
heroku config:set APP_ENV=prod

###> lexik/jwt-authentication-bundle ###
# /config/jwt/*
###< lexik/jwt-authentication-bundle ###
